In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
column_names = ["UserID", "MovieID", "Rating", "Timestamp"]

df = pd.read_csv("ratings.dat", sep="::", names=column_names)
df.head(20)

C:\Users\bailk\AppData\Local\Temp\ipykernel_25260\1089651156.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("ratings.dat", sep="::", names=column_names)

    UserID  MovieID  Rating  Timestamp
0        1     1193       5  978300760
1        1      661       3  978302109
2        1      914       3  978301968
3        1     3408       4  978300275
4        1     2355       5  978824291
5        1     1197       3  978302268
6        1     1287       5  978302039
7        1     2804       5  978300719
8        1      594       4  978302268
9        1      919       4  978301368
10       1      595       5  978824268
11       1      938       4  978301752
12       1     2398       4  978302281
13       1     2918       4  978302124
14       1     1035       5  978301753
15       1     2791       4  978302188
16       1     2687       3  978824268
17       1     2018       4  978301777
18       1     3105       5  978301713
19       1     2797       4  978302039

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132969 entries, 0 to 132968
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   UserID     132969 non-null  int64
 1   MovieID    132969 non-null  int64
 2   Rating     132969 non-null  int64
 3   Timestamp  132969 non-null  int64
dtypes: int64(4)
memory usage: 4.1 MB

In [6]:
df.describe()

              UserID        MovieID         Rating     Timestamp
count  132969.000000  132969.000000  132969.000000  1.329690e+05
mean      441.370898    1868.568727       3.595620  9.792066e+08
std       246.216058    1104.500452       1.110673  9.873426e+06
min         1.000000       1.000000       1.000000  9.753437e+08
25%       224.000000    1028.000000       3.000000  9.758720e+08
50%       445.000000    1833.000000       4.000000  9.763647e+08
75%       666.000000    2774.000000       4.000000  9.775340e+08
max       858.000000    3952.000000       5.000000  1.046389e+09

In [7]:
df['Rating'].value_counts()

Rating
4    46694
3    34664
5    30437
2    13979
1     7195
Name: count, dtype: int64

In [8]:
X = df.drop('Rating',axis=1)
y = df['Rating']

In [15]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=69,test_size=0.3)

In [36]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()

In [37]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [38]:
y_pred = model.predict(X_test)

In [39]:
from sklearn.metrics import accuracy_score, classification_report

accuracy_score(y_test,y_pred)

0.3780802687322955

In [40]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           1       0.28      0.16      0.21      2226
           2       0.23      0.16      0.19      4163
           3       0.35      0.35      0.35     10483
           4       0.41      0.49      0.45     13935
           5       0.41      0.39      0.40      9084

    accuracy                           0.38     39891
   macro avg       0.34      0.31      0.32     39891
weighted avg       0.37      0.38      0.37     39891